<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maquinarias</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"></head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="Principal.html"><img src="images/logo.png" width="120px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="home">Home</a></li>
                    <li><a href="maquinas">Maquinas</a></li>
                    <li><a href="detalles de reservas.html">Reservas</a></li>
                    <li><a href="Login.html">Ingresar</a></li>
                </ul>
            </nav>
            <a href="carrito.html"><img src="images/carrito.png" width="30px" height="30px"></a>
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
        
    </div>

    <div class="small-container">

        <div class="row row-2">
            <h2>Maquinaria Disponible</h2>
            <select>
                <option>Todas las maquinas</option>
                <option>Cargadores articulados</option>
                <option>Caminones articulados</option>
                <option>Excavadoras</option>
                <option>Minicargadores</option>
                <option>Minicargador de orugas</option>
                <option>Motoniveladores</option>
                <option>Retroexcavadoras</option>
                <option>Tractores topadores</option>
            </select>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="detalle-maquinas.html"><img src="images/imagen-maq1.jpg" ></a>
                <a href="detalle-maquinas.html"><h4>Cargadores de ruedas</h4></a>
                <div class="available">
                    <p>Disponilidad: <i class="fa fa-check-circle"></i> </p>
                </div>
                <p>$50.00/hora</p>
            </div>
            <div class="col-4">
                <img src="images/imagen-maq2.jpg" >
                <h4>Camiones Articulados</h4>
                <div class="available">
                    <p>Disponilidad: <i class="fa fa-check-circle"></i> </p>
                </div>
                <p>$60.00/hora</p>
            </div>
            <div class="col-4">
                <img src="images/imagen-maq3.jpg" >
                <h4>Excavadoras</h4>
                <div class="available">
                    <p>Disponilidad: <i class="fa fa-check-circle"></i> </p>
                </div>
                <p>$70.00/hora</p>
            </div>
            <div class="col-4">
                <img src="images/imagen-maq4.jpg" >
                <h4>Minicargadores</h4>
                <div class="available">
                    <p>Disponilidad: <i class="fa fa-check-circle"></i> </p>
                </div>
                <p>$80.00/hora</p>
            </div>
            <div class="col-4">
                <img src="images/imagen-maq5.jpg" >
                <h4>Minicargador de Oruga</h4>
                <div class="available">
                    <p>Disponilidad: <i class="fa fa-check-circle"></i> </p>
                </div>
                <p>$70.00/hora</p>
            </div>
            <div class="col-4">
                <img src="images/imagen-maq6.jpg" >
                <h4>Motoniveladores</h4>
                <div class="available">
                    <p>Disponilidad: <i class="fa fa-check-circle"></i> </p>
                </div>
                <p>$60.00/hora</p>
            </div>
            <div class="col-4">
                <img src="images/imagen-maq7.jpg" >
                <h4>Retroexcavadoras</h4>
                <div class="available">
                    <p>Disponilidad: <i class="fa fa-check-circle"></i> </p>
                </div>
                <p>$50.00/hora</p>
            </div>
            <div class="col-4">
                <img src="images/imagen-maq8.jpg" >
                <h4>Tractores Topadores</h4>
                <div class="available">
                    <p>Disponilidad: <i class="fa fa-check-circle"></i> </p>
                </div>
                <p>$40.00/hora</p>
            </div>
        </div>

        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Descarga nuestra app!</h3>
                    <p>Descarga nuestra app movil para IOS y Android.</p>
                    <div class="app-logo">
                        <img src="images/app-store.png">
                        <img src="images/play-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="images/logo.png">
                    <p>Descarga nuestra app movil para IOS y Android.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Panda's Machine</h3>
                    <ul>
                        <li>Producto</li>
                        <li>Beneficios</li>
                        <li>Partners</li>
                        <li>Equipo</li>
                    </ul>
                </div> 
                <div class="footer-col-4">
                    <h3>Siguenos!</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2022 - Pandas</p>
        </div>
    </div>
<!--js for toggle menu-->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if (MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px"
            }else{
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

</body>
</html>