<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/esti.css}">

</head>
<body>


	<div>
		<div class="contenedor__login-register">
			<form action="" class="formular--Registrarte">
				<h2>Registrarse</h2>
				<input type="text" placeholder="Nombre Completo"> <input
					type="text" placeholder="Correo Electronico"> <input
					type="text" placeholder="Usuario"> <input type="password"
					placeholder="contraseña">>
				<button>Registrase</button>



			</form>

		</div>
	</div>
</body>
</html>