*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display:flex;
    align-items:center;
    padding:20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#000000
}
p{
    color: #000000;
}
h1{
    text-align: center;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width:300px;
}
.col-2 img{
    max-width: 100%;
    padding:50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 h2{
    font-size: 30px;
    line-height: 20px;
    margin: 10px 0;
}
.btn{
    display:inline-block;
    background-color:#ffcc00 ;
    color: #000000;
    padding: 8px 30px;
    margin:30px 0;
    border-radius: 30px;
    transition:background 0.5s;
}
.btn:hover{
    background:#FF5B00;
}
.header{
    background:radial-gradient(#ada6a6,#f4f0eb )
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width:250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis:25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width:100%;
}
.title{
    text-align: center;
    margin:0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#000000;
}
.title::after{
    content:'';
    background: #ffcc00;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
h4{
    color:#000;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.available .fa{
    color:#FF5B00;
}
.col-4:hover{
    transform:translateY(-5px);
}

/*------------------Dashboard--------------*/

h2 {
	margin: 0px;
	}
	
.clear {
	clear: both;
	height: 1px;
	overflow: hidden;
	}

.dashboard-wrapper {
	margin: auto;
	max-width: 920px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	}

.dashboard-wrapper .panel {
	text-align: left;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	box-shadow: 0 0 4px 1px rgba(143,143,143,.2);
	padding: 15px;
	}

.dashboard-wrapper #p1.panel, .dashboard-wrapper #p2.panel {
	grid-column: 1 / 4;
	}

.bottom {
	font-size: 10px;
	margin-top: 15px;
	}

.bottom a {
	color: #333;
	text-decoration: none;
	}

@media screen and (max-width: 1024px) {
	.dashboard-wrapper .panel {
		grid-column: 1 / 4;
		}	
	}
	
.dashboard-controls {
	margin: auto;
	max-width: 920px;
	clear: both;
	}

.dashboard-controls .dashboard-controls-reg {
	float: left;
	margin: 15px;
	width: 260px;
	text-align: left;
	}

.dashboard-controls .dashboard-controls-reg input, .dashboard-controls .dashboard-controls-reg select {
	height: 18px;
	padding: 8px;
	width: 100%;
	background-color: #ccc;
	border: 0px;
	border-radius: 5px;
	}
	
.dashboard-controls .dashboard-controls-reg select {
	height: 34px;
	padding: 6px;
	}
/*------------------------------------------*/
/*--Footer--*/
.footer{
    background: #000;
    color: #ffcc00;
    font-size: 14px;
    padding:60px 0 20px;
}
.footer p{
    color: #ffcc00;
}
.footer h3{
    color:#ada6a6;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-height: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width:140px;
}
.footer hr{
    border:none;
    background:#ffcc00;
    height:1px;
    margin:20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}